.gallery {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px
}



@media (min-width: 768px) {
    .gallery {
        padding: 0 20px;
        gap: 20px;
    }

}