.main {
    margin: 0;
    padding: 40px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

@media (min-width: 768px) {
    .main{
        padding: 60px 0;
        gap: 80px
    }
}
