.link {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 400 var(--main-text-size) / 23.4px var(--font-family);
    color: var(--main-text-color);
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--text-accent-color);
}

.link:hover {
    border-bottom: 1px solid var(--main-text-color);
}

.link:focus {
    outline: none;
}


.link:focus-visible {
    border: 1px solid var(--main-text-color);
}