.footer__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 700 var(--header-title-text-size-mobile) / 82.5% var(--font-family);
    color: var(--header-title-color);
    text-shadow: 4px 4px 0 var(--header-title-shadow-color);
}

@media (min-width: 768px) {
    .footer__title {
        font-size: var(--header-title-text-size-tablet);
    }
}

/* Изменение цвета тени на большом разрешении*/

@media (min-width: 1024px) {
    .footer__title {
        font-size: var(--header-title-text-size-laptop);
        text-shadow: 4px 4px 0 var(--header-title-shadow-color-laptop);
    }
}