.info__list-title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font: normal 700 var(--main-text-size) / 23.4px var(--font-family);
    background-color: var(--text-accent-color);
    color: var(--main-list-title-color);
}