.info__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--main-text-font-size);
    line-height: 23px;
    font-style: normal;
    font-weight: 700;
    color: var(--main-title-color);
    align-self: flex-start;
}

@media(min-width: 768px) {
    .info__title {
        min-width: 236px;
        max-width: 236px;
    }
}

@media(min-width: 1024px) {
    .info__title {
        min-width: 314px;
        max-width: 314px;
    }
}