.info__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 700 var(--main-text-size) / 23.4px var(--font-family);
    color: var(--main-title-color);
}

@media (min-width: 768px) {
    .info__title {
        max-width: 236px;
    }
}

@media (min-width: 1024px) {
    .info__title {
        min-width: 315px;
    }
}