.header__text {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
    max-width: 355px;
    font: normal 700 var(--main-text-size) / 23.4px var(--font-family);
    color: var(--header-text-color);
    justify-self: end;
    background-color: var(--text-accent-color);
}

@media (min-width: 768px) {
    .header__text {
        max-width: 364px;
    }
}

@media (min-width: 1024px) {
    .header__text {
        max-width: 491px;
    }
}