:root {
    --bg-color: #000028;
    --bg-image: url('../../images/cover-image-dark.png');
    --header-title-color: #DB00FF;
    --header-text-color: #000028;
    --text-accent-color: #FF0070;
    --header-button-color: #FF0070;
    --header-button-border-hover: rgba(255, 0, 112, 0.4);
    --rec-btn: #FF0070;
    --arrow-color: #FF0070;
    --main-text-color:  #F1B2CE;
    --main-title-color:  #FF0070;
    --main-list-title-color:  #000028;
    --header-title-shadow-color: #FF0070;
    --header-title-shadow-color-laptop: #FF0070;
}