.rec-btn {
    position: absolute;
    top: 10px;
    right: 39px;
    pointer-events: none;
    font: normal 400 18px/25px var(--font-family);
    color: var(--rec-btn);
    text-transform: uppercase;
}

.rec-btn::after {
    content: "";
    width: 9px;
    height: 9px;
    background-color: var(--rec-btn);
    border-radius: 50%;
    top: 8px;
    left: 43px;
    position: absolute;
    box-shadow: 0 0 5px 2px var(--rec-btn);
}

@media (min-width: 768px) {
    .rec-btn {
        top: 20px;
        right: 49px;
    }
}