.gallery__image_name_icecream {
    width: 355px;
    height: 355px;
}

@media (min-width: 768px) {
    .gallery__image_name_icecream {
        width: 229px;
        height: 441px;
    }
}

@media (min-width: 1024px) {
    .gallery__image_name_icecream {
        width: 315px;
        height: 595px;
    }
}