.gallery__image_name_audio {
    width: 355px;
    height: 237px;
}

@media (min-width: 768px) {
    .gallery__image_name_audio {
        width: 229px;
        height: 568px;
    }
}

@media (min-width: 1024px) {
    .gallery__image_name_audio {
        width: 315px;
        height: 768px;
    }
}