.gallery__image_name_street {
    width: 355px;
    height: 237px;
}

@media (min-width: 768px) {
    .gallery__image_name_street {
        width: 479px;
        height: 318px;
    }
}

@media (min-width: 1024px) {
    .gallery__image_name_street {
        width: 649px;
        height: 428px;
    }
}