:root {
    --bg-color: #fff1f7;
    --header-title-color: #FFC2E6;
    --bg-image: url('../../images/cover-image-light.png');
    --header-title-shadow-color: #FF0070;
    --arrow-color: #353430;
    --header-text-color: #353430;
    --text-accent: #FF8DCB;
    --button-color: #353430;
    --button-color-hover: rgba(50, 49, 45, 0.40);
    --main-title-color: #353430;
    --main-list-title-color: #353430;
    --main-list-text-color: #353430;
}

.rec-btn {
    display: none;
}
