:root {
    --font-family: "IBM Plex Mono", "Courier New", monospace;
    --main-text-size: 18px;
    --header-title-text-size-mobile: 116px;
    --header-title-text-size-tablet: 120px;
    --header-title-text-size-laptop: 157px;
}